# ignore all files in data
__MACOSX/
__pycache__/
data/
tmp_dense/
code/mast3r/
data_old/
weights/
tmp_dense_shift/
masked_pcs/
camera_poses/
point_clouds/
res/
tmp_dense/

# ignore all submodule
mast3r/
